## Visual Studio / .NET
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Tt]est[Rr]esults/

## Archivos de usuario y caché de Visual Studio
*.suo
*.user
*.userprefs
*.sln.docstates
.vs/
*.opensdf
*.sdf
*.cache
*.opendb
ipch/

## NuGet Packages
/[Pp]ackages/
*.nupkg
*.snupkg

## Carpetas de publicación y despliegue
[Pp]ublish/
*.[Pp]ubxml
*.azurePubxml

## Archivos del sistema operativo
Thumbs.db
Desktop.ini
.DS_Store

## Logs y bases de datos locales
*.log
*.sqlite
*.mdf
*.ldf